/* Header Styles */
.site-nav {
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  box-sizing: border-box;
  user-select: none;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  height: 100%;
}

.align_center {
  align-items: center !important;
}

.site__nav-container {
  display: inline-flex;
}

.site__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.site__nav-list {
  display: flex;
  height: 100%;
}

.site__nav-list .site__nav-item {
  padding-top: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500 !important;
  color: #6e6d7a;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

.site__nav-actions {
  display: flex;
  position: absolute;
  right: 10px;
}

.site__nav-actions--item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.nav__signIn--item {
  color: #6e6d7a;
  margin-top: 2px;
  cursor: pointer;
}

.nav__signUp--item {
  display: inline-block;
  padding: 11px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #ea4c89;
  border-radius: 8px;
  appearance: none;
  position: relative;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  margin-top: 4px;
}

.nav__signUp--item:hover {
  background: #bb3d6e;
}

/* Hotjar Component */

.add__space {
  margin: auto;
  margin-top: 3rem !important;
  width: 45.6rem;
  height: 3.5rem;
}

.main__hotjar {
  position: relative;
  background: #f8f8f8;
  padding: 16px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.hotajar__content--container {
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.content__icon {
  height: 54px;
  width: 126px;
  cursor: pointer;
}

.hotajar__text--container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.content__text {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #0d0c22;
}

.content__text--link {
  margin-top: -10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d4e;
}

.premium_link {
  text-decoration: none;
  color: #ea4c89;
}

.button__link {
  text-decoration: none !important;
  display: inline-block;
  padding: 15px 16px;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  line-height: 20px;
  height: 50px;
  width: 150px;
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  top: 17px;
  right: 25px;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px #f3f3f4;
  box-sizing: border-box;
}

.link__text {
  color: #0d0c22;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.button__link:hover {
  background: #f3f3f4;
  cursor: pointer;
}

.user__modal {
  max-width: 768px;
  width: 100%;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.user__content-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.user-avatar {
  display: inline-block;
  padding-left: 40px;
}

.user__shot-container {
  position: relative;
  margin-right: 16px;
  display: inline;
  height: 48px;
}

.user-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.header-details {
  position: absolute;
  top: -7px;
  width: 300px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
}

.header-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}

.header-name {
  position: relative;
  top: -15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #3d3d4e;
  line-height: 20px;
  opacity: 0.9;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -35px;
}

.user__actions {
  display: flex;
  margin: 0;
}

.user__action--item {
  margin-right: 0;
}

.button__normal {
  text-decoration: none !important;
  display: inline-block;
  right: 40rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  height: 40px !important;
  width: 78.11px;
  box-sizing: border-box;
  background: #f8f8f8;
  position: absolute;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px #f3f3f4;
  box-sizing: border-box;
}

.button__text {
  padding: 11px;
  padding-left: 14px;
  color: #0d0c22;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 14px;
}

.button__normal--like {
  text-decoration: none !important;
  display: inline-block;
  right: 35rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  height: 40px !important;
  width: 78.11px;
  box-sizing: border-box;
  background: #f8f8f8;
  position: absolute;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px #f3f3f4;
  box-sizing: border-box;
}

.icon {
  fill: currentColor;
  height: 13px;
  width: 13px;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 4px;
}

.add__spacing {
  margin-left: 8px;
}

.space__between{
  margin-right: 10px;
}

.button__normal--like:hover{
  background: #e7e7e9;
}

.button__normal:hover{
  background: #e7e7e9;
}

.posts__container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.short-description__container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 35rem;
  margin-right: 35rem;
}

.bio__link{
  text-decoration: none;
  color: #ea4c89;
}

.typography{
  display: flex;
  justify-content: flex-start;
  margin-top: -30px;
  font-size: 20px;
  opacity: 0.8;
}