/* Header Styles */
.site-nav {
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  box-sizing: border-box;
  user-select: none;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  height: 100%;
}

.align_center {
  align-items: center !important;
}

.site__nav-container {
  display: inline-flex;
}

.site__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.site__nav-list {
  display: flex;
  height: 100%;
}

.site__nav-list .site__nav-item {
  padding-top: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500 !important;
  color: #6e6d7a;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

.site__nav-actions {
  display: flex;
  position: absolute;
  right: 10px;
}

.site__nav-actions--item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.nav__signIn--item {
  color: #6e6d7a;
  margin-top: 2px;
  cursor: pointer;
}

.nav__signUp--item {
  display: inline-block;
  padding: 11px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #ea4c89;
  border-radius: 8px;
  appearance: none;
  position: relative;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  margin-top: 4px;
}

.nav__signUp--item:hover {
  background: #bb3d6e;
}

/* Hotjar Component */

.add__space {
  margin: auto;
  margin-top: 3rem !important;
  width: 45.6rem;
  height: 3.5rem;
}

.main__hotjar {
  position: relative;
  background: #f8f8f8;
  padding: 16px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.hotajar__content--container {
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.content__icon {
  height: 54px;
  width: 126px;
  cursor: pointer;
}

.hotajar__text--container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.content__text {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #0d0c22;
}

.content__text--link {
  margin-top: -10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #3d3d4e;
}

.premium_link {
  text-decoration: none;
  color: #ea4c89;
}

.button__link {
  text-decoration: none !important;
  display: inline-block;
  padding: 15px 16px;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  line-height: 20px;
  height: 50px;
  width: 150px;
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  top: 17px;
  right: 25px;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px #f3f3f4;
  box-sizing: border-box;
}

.link__text {
  color: #0d0c22;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.button__link:hover {
  background: #f3f3f4;
  cursor: pointer;
}

.user__modal {
  max-width: 768px;
  width: 100%;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.user__content-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.user-avatar {
  display: inline-block;
  padding-left: 40px;
}

.user__shot-container {
  position: relative;
  margin-right: 16px;
  display: inline;
  height: 48px;
}

.user-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.header-details {
  position: absolute;
  top: -7px;
  width: 300px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
}

.header-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}

.header-name {
  position: relative;
  top: -15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #3d3d4e;
  line-height: 20px;
  opacity: 0.9;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -35px;
}

.user__actions {
  display: flex;
  margin: 0;
}

.user__action--item {
  margin-right: 0;
}

.button__normal {
  text-decoration: none !important;
  display: inline-block;
  right: 40rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  height: 40px !important;
  width: 78.11px;
  box-sizing: border-box;
  background: #f8f8f8;
  position: absolute;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px #f3f3f4;
  box-sizing: border-box;
}

.button__text {
  padding: 11px;
  padding-left: 14px;
  color: #0d0c22;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 14px;
}

.button__normal--like {
  text-decoration: none !important;
  display: inline-block;
  right: 35rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  height: 40px !important;
  width: 78.11px;
  box-sizing: border-box;
  background: #f8f8f8;
  position: absolute;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px #f3f3f4;
  box-sizing: border-box;
}

.icon {
  fill: currentColor;
  height: 13px;
  width: 13px;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 4px;
}

.add__spacing {
  margin-left: 8px;
}

.space__between {
  margin-right: 10px;
}

.button__normal--like:hover {
  background: #e7e7e9;
}

.button__normal:hover {
  background: #e7e7e9;
}

.posts__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.short-description__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 35rem;
  margin-right: 35rem;
}

.bio__link {
  text-decoration: none;
  color: #ea4c89;
}

.typography {
  display: flex;
  justify-content: flex-start;
  margin-top: -30px;
  font-size: 20px;
  opacity: 0.8;
}

/* User Profile Styles */

.user-details-section {
  margin-top: 70px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-avatar-line {
  border: 1px solid #e7e7e9;
  width: 400px;
}

.user__avatar-container {
  margin: 0 24px;
}

.user__details--icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.user__intro {
  display: flex;
  flex-direction: column;
}

.user__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 16px;
  color: #0d0c22;
}

.user-bio {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
  max-width: 400px;
  text-align: center;
  color: #3d3d4e;
}

.user_posts--section {
  margin-top: 64px;
  width: 50%;
}

.user-posts--heading {
  display: flex;
  justify-content: space-between;
}

.view__profile {
  text-decoration: none;
  color: #ea4c89;
  flex-shrink: 0;
  margin-top: 1.5rem;
}

.view__profile:hover {
  color: #f082ac;
}

.user__name {
  margin-left: -3rem !important;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user__posts {
  margin-top: -2rem !important;
  border-radius: 10px;
  width: 214px;
  height: 160px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.site__footer {
  color: #3d3d4e;
  background: #fafafb;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 72px;
  margin-top: 50px;
}

.footer-main-content {
  display: flex;
  flex-direction: row;
  padding: 50px 70px;
}

.dirbble_footer {
  width: 256px;
  height: 308px;
  margin-right: 20px;
}

.footer-logo {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  color: #ea4c89;
  text-decoration: none;
}

.tagline {
  color: #3d3d4e;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  margin: 0px !important;
  max-width: 256px;
}

.social__links--icon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 14px !important;
  margin-top: 8px !important;
  cursor: pointer;
  color: #3d3d4e;
  opacity: 0.9;
}

.social__links--icon:hover {
  color: #0d0c22;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  width: 160px;
}

.links-column {
  width: 100%;
}

.link__footer-heading {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px;
  color: #0d0c22;
  margin-top: 12px;
}

.footer__links {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #3d3d4e;
  line-height: 20px;
}

.footer__link--container {
  margin-top: 16px;
}

.footer-lower {
  margin-bottom: 1rem;
  padding: 35px 0px;
  color: #6e6d7a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.total__shots {
  display: flex;
  align-items: center;
}

.shots-count {
  position: absolute;
  right: 500px;
  color: #0d0c22;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.shots-text {
  position: absolute;
  right: 395px;
}

.user-avatar__border {
  position: absolute;
  left: 150px;
  border: 1px solid #e7e7e9;
  width: 1300px;
}

.dribble-ball {
  margin-top: -1px;
  cursor: pointer;
  position: absolute;
  right: 360px;
  height: 24px;
  width: 24px;
}

.footer__border{
  padding-left: 72px;
}